1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [38]:
def myreduce(fun,seq):
  """
  Working concept: 
    1. First two elements of the sequence are picked and the result is obtained by applying the function "fun".
    2. Apply the same function to the result obtained in step 1 and the third element. Store the result.
    3. Continues step 2 till all elements in the container are exhausted with.
    4. Return the final result
  """
  if len(seq)==1:
    return seq[0]
  else:
    first_element = seq[0]
    second_element = seq[1]
    result = fun(first_element, second_element)
    #result = first_element
    for i in seq[2:]:
      result = fun(result, i)
    return result

#Testing purpose
lst = [1,2]
myreduce(lambda a,b : a*b, lst)

def add_custom(a,b):
  return a+b

myreduce(add_custom,lst)

3

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [41]:
def myfilter(fun, seq):
  """
   Working concept: 
    1. Initialise an empty list to store the final result
    2. Apply the function "fun" on each element of the sequence "seq". Where the function returns True, append the element to the result list.
    3. Return the final result
  """
  result= []
  for i in seq:
    if fun(i):
      result.append(i)
  return result

#Test case:
lst = [15, 32, 72, 27, 34, 25, 37, 19, 99, 9] 
final_list = myfilter(lambda x: (x%2 != 0) , lst)
final_list

[15, 27, 25, 37, 19, 99, 9]

2.0 Implement List comprehensions to produce the following lists.

Write List comprehensions to produce the following Lists

<br>['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
<br>['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
<br>[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
<br>[[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]
<br>[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [6]:
#First output
base_list1 = ['x','y','z']
list([i*j for i in base_list1 for j in range(1,5)])

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [7]:
#Second output
base_list2 = ['x','y','z']
list([i*j for i in range(1,5) for j in base_list1])

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [24]:
#third output
base_list3 = list(range(2,5))
[[i+k] for i in base_list3 for k in range(3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [19]:
#fourth output
base_list4 = list(range(2,6))
[[i, i+1, i+2, i+3] for i in base_list4 ]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [21]:
#fifth output
base_list5 = list(range(1,4))
[(j,i) for i in base_list5 for j in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]